@font-face {
    font-family: 'FuturaLight';
    src : url("fonts/FuturaCyrillicLight.woff");
}
@font-face {
    font-family: 'FuturaBook';
    src : url("fonts/FuturaCyrillicBook.woff");
}
@font-face {
    font-family: 'FuturaMedium';
    src : url("fonts/FuturaCyrillicMedium.woff");
}
@font-face {
    font-family: 'FuturaDemi';
    src : url("fonts/FuturaCyrillicDemi.woff");
}
@font-face {
    font-family: 'FuturaHeavy';
    src : url("fonts/FuturaCyrillicHeavy.woff");
}
@font-face {
    font-family: 'FuturaBold';
    src : url("fonts/FuturaCyrillicBold.woff");
}

.f {

}

:root {
    --lightgreen: #8cc63f;
    --darkgreen: #304e25;
}
body {
    margin: 0;
    background-color: black;
    font-family: 'FuturaBook';
    font-weight: lighter;
}


#topBar {
    width: 100vw;
    display: flex;

    flex: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('imgs/bg.webp');
    background-size:6vw;
    background-repeat: repeat;
    box-shadow: 0px 20px 30px #000000C0;
    z-index: 10;
    position: relative;
    font-family: "FuturaMedium";
    color: var(--lightgreen);

    justify-content: space-between;
    position: sticky;
    top: 0;
}

#bottomBar {
    width: 100vw;
    display: flex;

    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('imgs/bg.webp');
    background-size:6vw;
    background-repeat: repeat;
    box-shadow: 0px -20px 30px #000000B0;
    z-index: 10;
    position: relative;

    font-family: "FuturaMedium";
    color: var(--lightgreen);

    justify-content: space-between;
    position: sticky;
    top: 0;
}
#copyright {
    font-size: max(8px + 1vw, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: right;
}
.csBar {
    margin-left: 5px;
    margin-right: 5px;
}
.csBar img {
    margin: 20px;
    margin-left: 40px;
    width: 30vw;
}
.csSmall {
    width: 30vw;
}

.menuBar {
    margin-right: 5vw;
    width: calc(60%);
}
.menuBar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.menuButton {
    text-align: center;
    cursor: pointer;
    font-size: max(1vw + 15px, 16px);
    position: relative;
    min-width: 30%;
    transition: background .2s;
    border-radius: 10px 10px 0px 0px;
}
.menuButton a{
    text-decoration: none;
    color: var(--lightgreen);
    transition: color .3s;
}
.menuButton a:hover {
    color: white;
}


.hasDropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.hasDropdown:focus-within {
    background: #010101B0;
}
.dropdown {
    opacity: 0;
    list-style-type: none;
    position: absolute;
    z-index: 2;
    background: #010101B0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: opacity .2s;
    border-radius: 0px 0px 15px 15px;
    font-family: "FuturaBook";
}
.dropdownItem{
    width: 100%;
    height: 100%;
    color: white;
}
.dropdownItem a{
    text-decoration: none;
    color: var(--lightgreen);
    transition: color .3s;
}
.dropdownItem a:hover {
    color: white;
}
.menuButton::after {
    content:'';
    width: 0rem; /*1.6rem*/
    height: 1rem;
    display: block;
    background: url('https://api.iconify.design/fe/arrow-down.svg') no-repeat center center / contain;
    filter: invert(69%) sepia(67%) saturate(427%) hue-rotate(40deg) brightness(93%) contrast(86%);    
    position: relative;
    right: 0px;
    transition: filter .5s;
}

.menuDropdown {
    display: none;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    background-color: #01010190;
    border-radius: 2px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.menuDropdown a{
    margin-bottom: 10px;
}


#main {
    min-height: fit-content;
    padding-bottom: 20vh;
    background-image: url("imgs/bg.webp");
    background-size:6vw;
    background-repeat: repeat;
}
.green {
    height: 100vh;
}
.white {
    background: white !important;
    height: 100%;
}

.flexDiv {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 10vw;
    height: 80%;

}
.rightShadow {
    box-shadow: 10px 0px 10px #00000060;
    height: 100%;
    padding-bottom: 5%;
}
.leftPage {
    box-sizing: border-box;
    color: white;
    font-size: max(1vw + 7px, 16px);
    width: 60%;
    font-weight:bold;
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 15%;
}
#collectButton {
    display: flex;
    justify-content: space-between;
    width: 40%;
    box-sizing: border-box;
    color: var(--lightgreen);
    font-family: "FuturaMedium";
    font-size: calc(1vw + 40px);

    padding-left: 40px;
    margin-top: 50px;

    margin-bottom: 0;
}
#collectButton p{
    font-family: "FuturaBold";
    margin: 0;
}
#c1 {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#c2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#collectButton img {
    filter: invert(69%) sepia(67%) saturate(427%) hue-rotate(40deg) brightness(93%) contrast(86%);    
    width: calc(4vw + 60px);
}


#map {
    width: calc(90vw - 20px);
    margin-left: 5vw;

    border-color: var(--darkgreen);
    border-width: 10px;
    border-style: solid;


    background-color: white;
    border-radius: 50px;
    height: 80vh;
    /*
    background-image: url(imgs/blankworldmap.svg);
    background-size:contain;
    padding-top: 42%;
    */
    
}
#hidden {

    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "FuturaDemi";

    display: none;
}

#categories {

}
#category {

}


/** ABOUT US **/

h1 {
    font-family: "FuturaHeavy";
    font-size: 55px;
}
h2 {
    display: inline;
    font-family: "FuturaMedium";
    font-size: max(16px + 2vw, 18px);

}
.block {
    display: block;
}
.q {/*question*/
    font-family:"FuturaBook";

    text-decoration:underline;
    font-size: max(1vw + 16px, 20px);
}


/** STORIES **/
.collapsibleButton {
    cursor: pointer; 
}
.collapsible:hover, active{
    background-color: #ccc;
}
.collapsible {
    display: none;
    overflow: hidden;
}

#stories {
    padding-left: 0;
    height: fit-content;
    box-sizing: border-box;
    text-align: center;
    color: var(--darkgreen);
    font-size: calc(1vw + 7px);
    font-weight:bold;
    padding-top: 70px;
    width: 100vw;
    min-height: 80vh;
}
#stories h1 {
    font-size: calc(2vw + 40px);
}
.coverStory {

}
.coverStory img {

}
.coverStory-Text {

}
.coverStory-Title {
    
}
.coverStory-Description {
    
}


/* GENERAL */
.bottomPadding {
    padding-bottom: 20vh;
}
.noPadding {
    padding-bottom: 0 !important;
}

/* ABOUT US*/ 
#aboutUsLeftPage {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    color: white;
    font-size: max(1vw + 7px, 16px);
    width: 60%;
    font-weight:bold;
    padding-top: 70px;
    padding-left: 10%;


}
.aboutUs-fullPage {
    width: 80vw;
}
.fullPage-half {
    width: 35vw;
}
.fullPage-two {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
}
.fullPage-two img {
    align-self: center;
}
.fullPage-two-first {
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fullPage-one {
    display: flex;
    flex-direction: column;
    overflow:visible;
}

.aboutusHidden {
    display: none;
    width: 40vw;
    margin-left: 20vw;
    border: var(--lightgreen) 8px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 00px;
}
.rightimage {
    width: 20vw;
    border: var(--lightgreen) 8px solid;
    border-radius: 10px;
    margin-top: 60px;
}
.inlineimage {
    width: 20vw;
    border: var(--lightgreen) 8px solid;
    border-radius: 10px;
    margin-top: 60px;
}

.leftPage h3 {
    font-family: "FuturaMedium";
}



@media (max-width: 600px)  { /*mobile*/
    #topBar {
        height: 10vh;
    }
    .menuButton {
        font-size: 20px;
        padding-top: 20px;
    }
    .menuBar-nav {
        width: 100vw;
    }
    #bottomBar {
        justify-content: space-evenly;
    }
    #bottomLogo {
        display: inline;
    }
    #bottomLogo img {
        margin-left:0;
    }
    .bottomBarText {

    }
    .csBar {
        display: none;
    }
    .menuBar {
        display: block;
    }

    .rightShadow{   
        box-sizing: border-box;
        width: 100vw;
        padding-right: 10%;
        margin-left: 0;
        padding-left: 10vw;
        padding-bottom: 10%;
        padding-top: 15%;
        box-shadow: 0px 10px 10px #00000060;
        clip-path: inset(0px 00px -50px 0px);
        font-size: 18px;
    }
    .flexDiv {
        width: 100vw;
        flex-direction: column;
        margin-left: 0;
    }
    #main {
        background-size:16vw;
        background-repeat: repeat;
    }
    #topBar {
        background-size:16vw;
        background-repeat: repeat;
    }


    #collectButton {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        font-size: calc(1vw + 30px);
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #c1 {
        margin-left: 0;
    }

    h1 {
        font-size: 35px;
    }
    #aboutUsLeftPage {
        font-size: 16px;
        padding-top: 5%;
        font-family: "FuturaLight";
        width: 100vw;
    }
    .aboutusHidden {
        display: block;
    }
    .aboutUs-fullPage h2 {
        text-align: center;
    }
    .fullPage-two{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .fullPage-two-first h2{
        text-align: center;
    }

    .fullPage-half {
        margin-top: 20px;
    }
    .fullPage-two-first{
        padding: 0;
    }
    .inlineimage {
        width: 40vw;
        margin-top: 10px;
        margin-left: 20vw;
        border-width: 3px;
    }
    .fullPage-half {
        width: 80vw;
    }



    #map {
        width: calc(100vw - 20px);
        margin-left: 0vw;
    
        border-color: var(--darkgreen);
        border-width: 10px;
        border-style: solid;
    
    
        background-color: white;
        border-radius: 50px;
        height: 80vh;
        /*
        background-image: url(imgs/blankworldmap.svg);
        background-size:contain;
        padding-top: 42%;
        */
    }
    
    
}